{# extendemos nuestra pagina del codigo base de la plataforma, el cual nos trae automaticamente el header y el footer #}
{% extends 'base.html' %}

{# definimos el titulo de la pagina en el bloque declarado en al archivo base.html #}
{% block title %}AQUI EL TITULO{% endblock %}

{# definimos el bloque de contenido de la pagina declarado en al archivo base.html #}
{% block content %}

    {# comenzamos a construir el contenido de nuestra pagina#}
    <div class="flex m-10 justify-center">
        <div class="text-xl"><p>Directorio de Artesanos</p></div>

        <div class="w-[1000px] h-96 bg-gray-400 rounded-xl">
            <p>AQUI CONTENIDO</p>
        </div>
    </div>

{# finalizamos la definicion del bloque de contenido de la pagina declarado en al archivo base.html #}
{% endblock %}