{# archivo base del html del proyecto, en el cual se crean bloques de codigo, que pueden ser declarados en los futuros archivos para  #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# creamos el bloque de codigo del titulo #}
    <title>{% block title %}Bienvenido{% endblock %} - Sistema de proveedores para Artesanos.</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>
<body>
    {# incluimos el bloque de codigo del header #}
    {% include 'partials/header.html' %}

    <div id="app">
        {# declaramos el bloque de codigo del contenido de la pagina #}
        {% block content %}{% endblock %}
    </div>

    {# incluimos el bloque de codigo del footer #}
    {% include 'partials/footer.html' %}

    <script src="https://unpkg.com/vue@3.2.39/dist/vue.global.js"></script>
    <script src="https://unpkg.com/jquery@3.6.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {# declaramos el bloque de codigo de los scripts #}
    {% block script %}{% endblock %}

    {# script de javaScript de la pagina #}
    <script src="/static/app.js"></script>
</body>
</html>