{# extendemos nuestra pagina del codigo base de la plataforma, el cual nos trae
automaticamente el header y el footer #}

{% extends 'base.html' %}

{# definimosel titulo de la pagina en el bloque declarado en al archivo base.html #}
{% block title %}Directorio{% endblock %}

{# definimos el bloque de contenido de la pagina declarado en al archivo base.html #}
{% block content %}

{# comenzamos a construir el contenido de nuestra pagina#}
<div class="flex m-10">
  <div class="flex flex-col m-0 m-auto content-center">
    <div class="text-xl mb-3">
      <p>Directorio de Proveedores - Materia Prima</p>
    </div>

    <div class="bg-slate-100 rounded">
      <div class="flex flex-col m-0 m-auto content-center">
        <div class="w-[1000px] rounded-xl">
          <div class="flex">
            <div class="mt-10 sm:mt-0 p-10 content-center w-full">
              <div class="flex flex-col m-0 m-auto">
                <div >
                  <div class="mt-10 sm:mt-0">
                    <div class="">
                      <div class="mt-5 md:col-span-2 md:mt-0">
                        <form action="/directorio" method="POST">
                          <div class="overflow-hidden shadow sm:rounded-md">
                            <div class="bg-white px-4 py-5 sm:p-6">
                              <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-3">
                                  <label for="raw_material" class="block text-sm font-medium text-gray-700">Tipo de materia prima</label>
                                  <select required v-model="materia_prima" id="raw_material" name="raw_material" autocomplete="raw_material" class="mt-1 block w-full rounded-md border border-gray-400 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                    <option v-for="tipo in tipos_materia" :value="tipo">{tipo}</option>
                                  </select>
                                </div>

                                <div class="col-span-6 sm:col-span-3">
                                  <label for="city" class="block text-sm font-medium text-gray-700">Ciudad</label>
                                  <select required v-model="ciudad" id="city" name="city" autocomplete="city" class="mt-1 block w-full rounded-md border border-gray-400 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                    <option v-for="city in ciudades" :value="city">{city}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div
                              class="bg-gray-50 px-4 py-3 text-right sm:px-6"
                              style="padding: bottom 25px"
                            >
                              <button
                                type="submit"
                                class="inline-flex justify-center rounded-md border border-transparent bg-[#08254B] py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                              >
                                Buscar
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="hidden sm:block" aria-hidden="true"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="w-[1000px] rounded-xl">
        <div class="flex">
          <div class="mt-10 sm:mt-0 p-10 content-center w-full">
            <div class="md:grid md:grid-cols-3 md:gap-6">
              <div class="mt-5 md:col-span-3 md:mt-0">
                <div class="overflow-hidden shadow sm:rounded-md">
                  <div>
                    <table id="table_id" class="display">
                      <thead>
                        <tr>
                          <th>Perfil</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Telefono</th>
                          <th>Ciudad</th>
                          <th>Materia Prima</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in profiles %}
                        <tr>
                          <td>
                            <a
                              href="/perfil-proveedor/{{data.id}}"
                              class="flex items-center"
                              ><button
                                type="button"
                                class="bg-indigo-400 p-3 rounded"
                              >
                                <img
                                  src="{{ url_for('static', filename='user.png') }}"
                                  class="w-5"
                                  alt="Logo"
                                />
                              </button>
                              <p class="hidden">{{data.id}}</p>
                            </a>
                          </td>
                          <td>{{data.first_name}}</td>
                          <td>{{data.last_name}}</td>
                          <td>{{data.phone_number}}</td>
                          <td>{{data.city}}</td>
                          <td class="text-center">{{data.raw_material}}</td>
                        </tr>
                        {% endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{# finalizamos la definicion del bloque de contenido de la pagina declarado en
al archivo base.html #} {% endblock %} {% block script %}
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
></script>

<script>
  $(document).ready(function () {
    const tabla = $("#table_id").DataTable();
  });
</script>

<script>
  Vue.createApp({
    data() {
        return {
          ciudad: '{{filtro_city}}',
          materia_prima: '{{filtro_raw_material}}',
          ciudades: ["Areguá", "Caacupé", "Itá", "Atyrá", "Carapeguá", "Concepción", "Itaguá", "Limpio", "Luque", "Misiones", "Pirayú", "Tobatí", "Yataity", "Yaguarón"],
          tipos_materia: ["Cuero Curtido", "Cuero Sintético", "Lana de Oveja", "Arcilla Blanda o Caolín", "Oro", "Plata", "Bronce", "Mezcla", "Pluma de Avestruz", "Palo Santo", "Timbó", "Karandy", "Tacuara"]
        }
    },
    methods: {
      filtrar() {
        if (this.ciudad || this.materia_prima) {
          axios.get('/filtrar_proveedor', {
            params: {
              city: this.ciudad,
              raw_material: this.materia_prima,
            }
          }).then((response) => {
            tabla.clear().rows.add(response.data).draw()
          }).catch((error) => { });
        } else {
          alert('Favor, seleccione alguna opcion.')
        }
      }
    },
    delimiters: ['{', '}']
  }).mount('#app')
</script>

{% endblock %}
