{# extendemos nuestra pagina del codigo base de la plataforma, el cual nos trae automaticamente el header y el footer #}
{% extends 'base.html' %}

{# definimos el titulo de la pagina en el bloque declarado en al archivo base.html #}
{% block title %}Inicio{% endblock %}

{# definimos el bloque de contenido de la pagina declarado en al archivo base.html #}
{% block content %}

    {# comenzamos a construir el contenido de nuestra pagina#}
<div>
    <p>PANTALLA PRINCIPAL</p>
    <h1>Prueba github</h1>
</div>
<div>
    <h1>Preuba de Dani</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione fugiat ea tenetur eos excepturi nobis assumenda ducimus necessitatibus quia quasi maiores aliquam dolorem, quis temporibus officia ipsum at quod. Atque.</p>
</div>

{# finalizamos la definicion del bloque de contenido de la pagina declarado en al archivo base.html #}
{% endblock %}
