{# extendemos nuestra pagina del codigo base de la plataforma, el cual nos trae
automaticamente el header y el footer #}
{% extends 'base.html' %} 

{# definimos el titulo de la pagina en el bloque declarado en al archivo base.html #} 
{% block title %}Perfil Proveedor / Materia Prima{% endblock %}

{# definimos el bloque de contenido de la pagina declarado en al archivo base.html #} 
{% block content %} 
{# comenzamos a construir el contenido de nuestra pagina#}
<div class="flex m-10">
  <div class="flex flex-col m-0 m-auto content-center">
    <div class="text-xl mb-3"><p>Perfil de Proveedor - Materia Prima</p></div>

    <div class="w-full bg-gray-400 rounded-xl">
      <div class="flex">
        <div class="mt-10 sm:mt-0 p-10 content-center w-6/12">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="mt-5 md:col-span-3 md:mt-0">
              <div class="overflow-hidden shadow sm:rounded-md">
                <div class="bg-white px-4 py-5 sm:p-6">
                  <div class="grid grid-cols-6 gap-6">
                    <ol class="w-max text-lg">
                      <li><strong>ID de proveedor: </strong>{{profile.id}}</li>
                      <li><strong>Nombre: </strong>{{profile.first_name}}</li>
                      <li><strong>Apellido: </strong>{{profile.last_name}}</li>
                      <li>
                        <strong>Empresa: </strong>{{profile.company_name}}
                      </li>
                      <li>
                        <strong>N° Documento: </strong>{{profile.document}}
                      </li>
                      <li><strong>Direccion: </strong>{{profile.address}}</li>
                      <li>
                        <strong>Telefono: </strong>{{profile.phone_number}}
                      </li>
                      <li><strong>Ciudad: </strong>{{profile.city}}</li>
                      <li>
                        <strong>Materia Prima: </strong>{{profile.raw_material}}
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-10 sm:mt-0 p-10 content-center w-6/12">
            <div id="map" class="w-full" style="height: 300px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# finalizamos la definicion del bloque de contenido de la pagina declarado en
al archivo base.html #} 
{% endblock %}


{# definimos el bloque de Scripts de la pagina declarado en al archivo base.html #}
{% block script %}
<script src="https://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script src="https://cdn.jsdelivr.net/gh/Logicify/jquery-locationpicker-plugin@master/dist/locationpicker.jquery.js"></script>

<script>
    $(() => {
        $('#map').locationpicker({
          location: {
            latitude: '{{profile.latitude or -25.3023494}}',
            longitude: '{{profile.longitude or -57.5833549}}',
          },
          radius: 0,
        });
    })
</script>
{# finalizamos la definicion del bloque de Scripts de la pagina declarado en al archivo base.html #}
{% endblock %}